/* Univerosa; style */
html,body{
    height:100%;
    /*background-color: black;*/
}

h1,h2,h3,p,td,li{
    font-family: 'Courier New', Courier, monospace;
    color: lime;
}

.container{
    display: flex;
}

.article{
    height: 100%;
    /*background-color: rgb(2 2 2 / 30%);*/
    /* background-color: rgb(0 0 0); */
    backdrop-filter: blur(15px);
}

/* Landnig background amd intro information */
.landing{
    /*image*/
    background-image: url("./../images/nature_background.jpg");

    /*Full height*/
    height: 100%;

    /*Paralax effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-text{
    width: 50%;
    padding-top: 15%;
    padding-left: 13%;

    h1{
        font-weight: 1000;
        font-size: 100px;
        font-family: 'Courier New', Courier, monospace;
        color: #eee;
        -webkit-text-stroke-color: #111;
    }
    
    h2{
        font-weight: 500;
        font-size: 75px;
        font-family: 'Courier New', Courier, monospace;
        color: #DDD;
    }

    h3{
        font-weight: 250;
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        color: #BBB;
    }
}

/* About me information */
#About{
    .article-plate{
        width: 96%;
        height: 96%;
        margin-left: 2%;
        margin-top: 2%;
        

        .article-photo{
            width: 50%;

            img{
                width: 90%;
                height:90%;
                object-fit: cover;
                border-radius: 25%;

                margin: 5%;

            }
        }

        .article-content{
            width: 50%;
            margin: 5%;

            
            scroll-behavior: auto;
            scrollbar-width: thin;
            overflow: scroll;
            overflow-x: hidden;

            .about-section{
                margin: 2%;
                padding-top:25%;
                height: 100%;
            }
        }
    }
}

#Work{
    border: solid purple 4px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: green;

    .work-item{
        margin-top: 4%;
        border: solid red 4px;
        padding: 2% 3% 0 3%;
        
        table{
            border-top: solid whitesmoke 4px;
            width: 100%;
    
            td{
                padding: 0 2% 0 2%;
            }
        } 

        .education-item{
            border: solid blue 4px;
            margin-left: 5%;
            margin-right: 5%; 
            padding: 0 1% 0 1%;
            /* border-top: solid whitesmoke 4px; */
          }
    }

    .work-education{

    }
    
    .work-history{

    }

    .work-skills{
        .item{
            background-color: aqua;
            /* border-bottom: dashed 4px white; */
        }
    }
}

#Projects{
    display: none;
}