html{
    scrollbar-width: thin;
}

body{
    margin: 0px 175px 0px 175px;
}

.container{
    display: flex;
}

.item{
    flex-grow: 1;
}

.article{
    margin-top: 35px;

    padding: 25px;
}

.center-align{
    text-align: center;
}

/* Common text and page styling */
.article-title{
    color:blueviolet;
    font-weight: bold;
    font-size: larger;
}

.clickable{
    transition:.2s;
}
.clickable:hover{
    background-color: lightgray;
    cursor: pointer;
}