.navbar{
    height: 35px;
    width:100%;
    position:sticky;
    top:0;
    left:0;
    z-index:1;
    border-bottom: double black 3px;
    background-color: white;
}

.navbar-home{
    height: 100%;
}

.navbar-links{
    justify-content: right;
}

.navbar-button{
    padding: 3px 10px 0px 10px;
    transition: .2s;
    height: 91%;
}

.navbar-button:hover, .active{
    background-color: #AAA;
    color: limegreen;
    cursor: pointer;
}
